{% extends 'backend/layouts.html.twig' %}

{% block content %}
    <section class="table-layout animated fadeIn borderedBackground">
        <div class="container-fluid">
            <div class="row">

            </div>
        </div>
    </section>
{% endblock %}