{% extends 'backend/layouts.html.twig' %}

{% block content %}
    <section class="table-layout animated fadeIn">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    &nbsp;
                </div>
                <div class="col-md-6 center-block">
                    <div class="f-center">
                        <i class="imoon-3x imoon imoon-menu"></i>
                        <h1>New Configuration</h1>
                    </div>
                    <div class="panel" style="border:6px solid rgba(204, 204, 204,0.5)">
                        <div class="panel-heading">
                        </div>
                        <div class="panel-body">
                            <form action="" method="post" class="form-horizontal">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <label for="input">Path</label>
                                        <input type="text" name="path" id="input" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <label for="methods">Methods</label>
                                        <select name="methods[]" id="methods" multiple="multiple" class="form-control select2">
                                            <option value="">-- Pilih Methods --</option>
                                            <option value="GET">GET</option>
                                            <option value="POST">POST</option>
                                        </select>
                                        {#<textarea name="methods[]" id="methods" cols="30" rows="10"></textarea>#}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <label for="controller">Nama Controller</label>
                                        <input type="text" name="controller" id="controller" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <input type="submit" value="submit" class="btn btn-primary btn-flat pull-right">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">

                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block customJS %}
    <script>
        $('.select2').select2();
    </script>
{% endblock %}