{% extends 'backend/layouts.html.twig' %}

{% block content %}
    <section class="table-layout animated fadeIn">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    &nbsp;
                </div>
                <div class="col-md-6 center-block">
                    <div class="f-center">
                        <i class="imoon-3x imoon imoon-menu"></i>
                        <h1>New Configuration</h1>
                    </div>
                    <div class="panel" style="border:6px solid rgba(204, 204, 204,0.5)">
                        <div class="panel-heading">
                        </div>
                        <div class="panel-body">
                            <form action="" method="post" class="form-horizontal">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <textarea id="code" name="code" cols="30" rows="10" class="form-control" style="border: 1px solid">  
                                           {{ files }}
                                        </textarea>
                                    </div>    
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <input type="submit" value="submit" class="btn btn-primary pull-right">
                                    </div>
                                </div>    
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    &nbsp;
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block customJS %}
    <script>


        var editor = CodeMirror.fromTextArea(document.getElementById("code"),{
            extraKeys: {
                Tab: function(cm) {
                    var spaces = Array(cm.getOption("indentUnit") + 1).join(" ");
                    cm.replaceSelection(spaces, "end", "+input");
                }
            }
        });

        $('.select2').select2();
    </script>
{% endblock %}