{% extends 'Client/dashboard.layout.html.twig' %}

{% block mainContent %}
    <div class="container">
        <h2 class="mb-20">List Akun</h2>

        <div class="row">
            <div class="col-md-12">
                {% for msg in app.session.getFlashBag().get('message_error') %}
                    <div class="alert alert-danger">
                        {{ msg }}
                    </div>
                {% endfor %}
                <table class="table table-hover table-responsive">
                    <thead>
                    <tr>
                        <th>No.</th>
                        <th>Login</th>
                        <th>Broker Name</th>
                        <th>Validated</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% set i = 1 %}
                    {% if data|length > 0 %}
                        {% for item in data %}
                            <tr>
                                <td>{{ i }}</td>
                                <td>{{ item.login }}</td>
                                <td>{{ item.broker_name }}</td>
                                <td>
                                    {% if item.is_validated == 1 %}
                                        <span class="label label-success">Validated</span>
                                    {% else %}
                                        <span class="label label-warning">Not Validated</span>
                                    {% endif %}
                                </td>
                            </tr>
                            {% set i = i + 1 %}
                        {% endfor %}
                        {% else %}
                        <tr>
                            <td colspan="4">tidak ditemukan data</td>
                        </tr>
                    {% endif %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block innerJS %}
    <script>
        $(function() {
            $('table').DataTable({
                columnDefs: [
                    {
                        targets: [2],
                        className: 'mdl-data-table__cell--non-numeric'
                    }
                ]
            });
        });
    </script>
{% endblock %}