{% extends 'Client/dashboard.layout.html.twig' %}

{% block mainContent %}
    <div class="container">
        <h2 class="mb-20 title">Transfer Client</h2>

        <div class="row">
            <div class="col-md-8">
                {% for msg in app.session.getFlashBag().get('message_success') %}
                    <div class="alert alert-success alert-dismissable">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>Sukses!</strong> {{ msg }}
                    </div>
                {% endfor %}

                {% for msg in app.session.getFlashBag().get('message_error') %}
                    <div class="alert alert-warning alert-dismissable">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>Oops!</strong> {{ msg }}
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <form action="{{ path('popem_client_transfer_client') }}" method="post">
                    <div class="form-group">
                        <label for="transfer_client_number">Amount</label>
                        <input type="number" name="transfer_client_amount" id="transfer_client_number" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="transfer_client_username">Username</label>
                        <input type="text" name="transfer_client_username" id="transfer_client_username" class="form-control">
                    </div>
                    <div class="form-group text-right">
                        <input type="submit" value="Transfer" class="btn red-button">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}