{% extends 'Client/dashboard.layout.html.twig' %}

{% block mainContent %}
    <div class="container">
        <h2 class="mb-20">Validasi Akun</h2>

        <div class="row">
            <div class="col-md-8">
                <form action="{{ path('popem_client_validate_account') }}">
                    div.form-group
                </form>
            </div>
        </div>
    </div>
{% endblock %}