{% extends 'backend/layouts.html.twig' %}

{% block content %}
    <section class="table-layout animated fadeIn borderedBackground">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-11 center-block">
                    <div class="col-md-12">
                        <div class="f-center">
                            <i class="imoon-3x imoon imoon-bubbles"></i>
                            <span>Daftar Tag</span>
                        </div>
                        <div style="padding:30px 10px 10px 10px;background-color: #fff;margin-top: 10px;border:6px solid rgba(204, 204, 204,0.5)">
                            <div class="panel panel-visible" id="spy2">
                                <table class="table-striped table-bordered table-responsive" id="datatable2" width="100%">
                                    <thead>
                                        <tr>
                                            <th>No.</th>
                                            <th>Nama Tag</th>
                                            <th>Aksi</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% if data|length > 0 %}
                                    {% set i = 1 %}
                                        {% for dat in data %}
                                            <tr>
                                                <td>{{ i }}</td>
                                                <td>{{ dat.nameTag }}</td>
                                                <td></td>
                                            </tr>
                                            {% set i = i + 1 %}
                                        {% endfor %}
                                    {% else %}
                                        <tr>
                                            <td colspan="3">Tidak ada data</td>
                                        </tr>
                                    {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block customJS %}
    <script>
        $('#datatable2').DataTable();
    </script>
{% endblock %}