{% extends 'Client/layout.html.twig' %}

{% block content %}
    <section>
        <div class="container">
            <div class="row mt-50 mb-50">
                <div class="col-md-6 col-md-offset-3 form-wrapper">
                    <h2>Forgot Password</h2>
                    {% for msg in app.session.getFlashBag.get('message') %}
                        <div class="alert alert-warning">
                            <strong>Pemberitahuan !</strong> {{ msg }}
                        </div>
                    {% endfor %}
                    <form action="{{ path('popem_client_forgot_password') }}" method="post">
                        <div class="form-group">
                            <label for="username">Username / Email :</label>
                            <input type="text" name="username" id="username" class="form-control">
                        </div>
                        <div class="form-group text-right">
                            <input type="submit" value="Login" class="btn red-button">
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}