{% extends 'Client/layout.html.twig' %}

{% block content %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <form action="">
                        <div class="form-group">
                            <label for="username">Username :</label>
                            <input type="text" name="username" id="username" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="password">Username :</label>
                            <input type="password" name="password" id="password" class="form-control">
                        </div>
                        <input type="submit" value="OK">

                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block customJS %}
    <script>
        $(function () {
            $('form').submit(function(e) {
                e.preventDefault();
                var username = $('#username').val(),
                    password = $('#password').val(),
                    sendInfo = {"username": username, "password": password},
                    sourcePath = "{{ path('popem_api_client_login') }}",
                    destPath = "{{ path('popem_client_dashboard') }}",
                    input = $(this).find('input');

                input.prop('disabled', true);
                $(this).find('.process-text').text('Processing ...');

                $.ajax({
                    type: 'POST',
                    url: sourcePath,
                    data: sendInfo,
                    success: function (msg) {
                        if (msg.data.status === true) location.href = destPath
                    }
                });
            });
        });
    </script>
{% endblock %}